CREATE OR REPLACE FUNCTION public.get_policies_info(table_name text) RETURNS json LANGUAGE plpgsql SECURITY DEFINER AS } DECLARE result json; BEGIN SELECT json_agg(json_build_object('table_name', table_name, 'policy_name', pol.policyname, 'roles', pol.roles, 'cmd', pol.cmd, 'qual', pol.qual, 'with_check', pol.with_check)) INTO result FROM pg_policies pol WHERE pol.tablename = table_name; RETURN json_build_object('table_name', table_name, 'policies', COALESCE(result, '[]'::json)); END; };
